<!-- Used by theme-bio-builtin-2 -->

<div class="sixteen wide column no-bottom">
    <h3 class="ui left aligned header no-bottom">SKILLS</h3>
    <hr style="margin: 0px;">
  </div>

{% if site.data.bio.skills %}
<div class="row">

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.bio.skills %}
      <p class="ui no-bottom">
      <b>{{ entry.name }}:</b>
      {% for keyword in entry.keywords %}
        {{ keyword }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
      </p>
    {% endfor %}
  </div>
</div>
{% endif %}